.imagecontainer {
  width: 70%;
  /* border: 1px solid red; */
}

.imagecontainer img {
  width: 100%;
}
.mainsection {
  display: flex;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

.greeting {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 1em;
}

.signup {
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}

.nspfooter {
  align-self: center;
  margin-top: 6em;
  font-family: Neue Machina;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;

  letter-spacing: -0.4px;

  color: #666666;
}

@media only screen and (max-width: 768px) {
  .pizzaImage {
    display: none;
  }
}
