@tailwind base;
@tailwind components;
@tailwind utilities;

.box-inner-shadow{
    box-shadow: inset 3px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.box-outer-shadow{
    box-shadow: 3px 9px 39px rgba(0, 44, 89, 0.1);

}



.check_me:checked{
    @apply bg-[url('/src/assets/Vector.svg')] border-0;
}

/* .check_me{
    background:  url('/src/assets/Vector.svg') !important
} */


::-webkit-scrollbar {
    display: none;
}


.height-calc{
    height: calc(100% - 200px);
 
}

.side{
    height: calc(100% - 120px);
}

.margin-top-calc{
    margin-top: calc(5%)
}

.margin-calc{
    margin-left: calc(100% - 988px);
  
}

.singup-form-shadow{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}
.margin-top{
    margin-top: 27px;
}

.form-height{

    height: calc(100% - 200px);

}

.active-link{
    background-color: #002C59;
}

