.button {
  /* Primary-button-40px */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;

  position: static;
  width: 360px;
  height: 40px;

  background: #007aff;
  border-radius: 6px;

  color: #ffffff;

  margin-bottom: 1em;
}
